body {
	background-color: #F8EEE7;
	font-family: "Source Sans Pro", "Avenir";
	margin: 0;
}

.square {
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	--webkit-transition: background 0.6s;
	--moz-transition: background 0.6s;
}

#container {
	max-width: 600px;
	margin: 20px auto;

}

h1 {
	text-align: center;
	line-height: 1.1;
	color: #F8EEE7;
	background-color: #94618E;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}

#stripe {
	background: #F4DECB;
	text-align: center;
	height: 30px;
	color: #49274A;
	font-weight: 700;

}

.selected {
	background-color: #94618E;
	color: #F8EEE7;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #94618E;
	height: 100%;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	--webkit-transition: all 0.3s;
	--moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: #F8EEE7;
	background-color: #94618E;
}
